

body{
  font-family: 'Oxygen', sans-serif; 
  background-color:#e6e6e8;
  color:#300032;
  font-size:14px;
}


.container{
	padding:10px;  
}

#Logo{
  padding:16px;
  text-decoration: underline;
  text-decoration-style:wavy;
}

#gotosurvey{
  width:300px;
  height:100px;
  background-color:#c43235;
  color:#e6e6e8;
  font-size:30px;
}

#submit{
  width:200px;
  height:50px;
  background-color:#000;
  color:#fff;
  font-size:25px;
  margin:10px;
}

#image{
  width:60%;
  height:auto;
  padding:10px;
}

.wrapper{
  height:100vh;
  width:100%;
  box-sizing:border-box;
}

.input-group{
  margin-bottom:30px;
}

.line1{
  background-color:#c43235;
  padding:10px;
  color:#fff;
  margin-bottom:5px;
}

.line2{
  background-color:#300032;
  padding:10px;
  color:#fff;
  margin-bottom:5px;
}

#header{
  background-color:#300032;
  color:#fff;
}

h1{
  font-size:60px;
}

select{
  width:30%;
  color:#000;
}

.characters{
  height:200px;
  width:200px;
}

footer,.mainFooter{
  background-color:#300032;
  color:#9fa8a3;
  bottom:0px;
  position:absolute;
}

footer{
  position:relative;
}

@media screen and (max-width: 2000px) {
  .mainFooter{
    bottom:0px;
    position:static;
  }  
  .wrapper{
    height:auto;
  }
}

@media screen and (max-width: 640px) {
  footer,.mainFooter{
    bottom:0px;
    position:relative;
  }
  .wrapper{
    height:auto;
 }
}

#footerText{
	color:#9fa8a3;
  font-size:12px;
}

abbr{
  text-decoration:none;
}

a:active{
  text-decoration:none;
}

a:link{
  text-decoration: none;
  color:#e8edf3;
}

a:visited{
  text-decoration:none;
  color:#e8edf3;
}

a:hover{
  text-decoration:none;
  color:#e6cf8b;
}

/* Icons */
.fa {
  text-decoration: none;
  padding: 5px;
  font-size: 20px;
  width: 30px;
  height:30px;
  text-align: center;
  margin: 10px;
  border-radius: 50%;
  background-color:#808080;
  color:#fff
}

.fa:hover {
   color:#22264b;
   text-decoration: none;
   background-color:#fff;
}

